body {
    color: white;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #BF4E4A;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.label {
    font-size: 0.5rem
}
.list {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.info {
    text-align: center;
    background-image: linear-gradient(to right,#2c2c2d,#2d2d2e,#0a0a0a);
    padding: 17rem;

}
.name {
    font-size: 3rem;
}
.stack {
    font-size: 2rem;
    color: #BF4E4A

}
#passion {
    font-size: 1.5rem;
}

/*   projects     */
.projects {
    background-color: #3A435E;
    margin-top: -1.5rem;
    padding: 1rem;
}
.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
    
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}
.projectheader {
    text-align: center;
}
.work p {
    text-align: center;
    background-color: #303236;
    margin-top: -0rem;
    border-radius: 10px;
    padding: 1rem;
}
 /*contact*/
 .contact {
    background-image: linear-gradient(to right,#2c2c2d,#2d2d2e,#0a0a0a);
 }
.details {
    display: Flex;
    justify-content: space-around;
}

.contact {
    text-align: center;
    margin: -1.5rem;
    padding: 2rem;
}
.details a {
    text-decoration: underline;
    
}